<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://shoppingwebclient.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/8ab8dd05-69e3-4fdf-8ae0-623952499840/resourceGroups/az-305/providers/Microsoft.ContainerRegistry/registries/raicontaineregistry</ContainerResourceId>
    <ContainerResourceName>raicontaineregistry</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>raicontaineregistry.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/8ab8dd05-69e3-4fdf-8ae0-623952499840/resourceGroups/az-305/providers/Microsoft.Web/sites/shoppingwebclient</ResourceId>
    <ResourceGroup>az-305</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://shoppingwebclient.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4ffa074d-b89e-4edb-a744-7620d420883b</ProjectGuid>
  </PropertyGroup>
</Project>